@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
    {
        <input name="UserName" placeholder="Name" type="text" />
    <input name="Password" placeholder="Password" type="password" />
    <a class="btn btn-primary" href="javascript:document.getElementById('loginForm').submit()">Вход</a>
    }
}
